.loginHeader {
    background-color: #F7F4F3 !important;
    color: #F24333 !important;
    font-size: 45px;
    text-align: center;
}

.card{
    background-color: #F7F4F3;
    border: none;
} 

.loginSubmit{
    background-color: #564D4A;
    color: #F24333;
}

.mainBox{
    display: flex;
    margin-top: 10% !important;
    width: 340px;
    margin: auto;
    
}

.innerBox{
    height: 80%;
}

form .form-input {
    width: 100%;
    padding: 0.75rem;
    color: #1a1a1a;
    background-color: #ffffff;
    margin: 2.900rem 0;
    font-size: 1.2rem;
    border: 1px solid #484848;
    border-radius: 0.3rem;
}

.card .card-body {
    padding: 0.375rem;
    height: 350px;
    background-color: #F7F4F3;
}

.iconPack {
    position: absolute;
    left: -40px;
    top: -6px;
    background-color: #F7F4F3;
    color: #564D4A;
    border-radius: 30px;
}

.iconPack2 {
    position: absolute;
    left: 280px;
    top: 90px;
    background-color: #F7F4F3;
    color: #BA1B1D;
    border-radius: 30px;
}

.loginForm{
    position: relative;
}

.emailInput{
    padding-left: 23px !important;
}