.recipeTitle{
    text-align: center;
    color: #F24333;
}

.recipeName{
    text-align: center;
}

.buttonGrid{
    display: flex;
    margin: auto;
    justify-content: center;
}

.recipeBox{
    display: flex;
    width: 500px;
    justify-content: center;
}