.bigBox{
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 700px 700px;
    grid-column-gap: 100px;
    justify-content: center;
}
.centerTitle{
    text-align: center;
    padding-bottom: 20px;
    color: white;
}
.titleRecipe{
    text-align: center;
    color: #F24333;
}
.box1{ 
    background-color: #BA1B1D;
    font-size: 20px;
}
.box2{ 
    background-color: #BA1B1D;
    font-size: 20px;
    overflow-wrap: break-word;
}


.ingredient{
    background-color: #BA1B1D;
    color: #F7F4F3;
}
.instruction{
    background-color: #BA1B1D;
    color: #F7F4F3;
}



.ingredient{
    padding-left: 20px;
}

.ingredientList, .instructionList{
    margin-bottom: 20px;
}

.instructionList{
    position: relative;
}

.instructionList::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: -20px;
    border-bottom: 2px dashed #564D4A;
    width: 665px;
}

@media screen and (max-width: 1520px) {
    .bigBox{
        display: flex;
        gap: 50px;
        flex-direction: column;
        align-content: center;
        justify-content: space-between;
}
}